{#include base}
{#title}Topics {/title}
{#body}
<div class="header">
    <div>
        <h1 class="mt-4">Alle Topics</h1>
        <p><a href="/ui/">[< Home]</a><a href="/ui/posts">[Browse Posts]</a></p>
    </div>
    <div class="login-buttons">
        {#if isLoggedIn}
        Logged in as: {username}
        <button class="btn btn-light"  onclick="logout()">Logout</button>
        {#else}
        <button class="btn btn-primary" onclick="login()">Login</button>
        <button class="btn btn-light" onclick="window.open('/ui/register', '_blank')">Register</button>
        {/if}
    </div>
</div>

<div style="display: flex;justify-content: space-between;" class="mb-2">
    <form style="display: flex; align-items: center; margin-bottom: 20px;">
        <input type="search" id="search" name="search" required placeholder="search topics...">
        <button class="btn btn-primary" style="margin-left: 12px;">Search</button>
        <button class="btn btn-light ml-2" onclick="resetSearch()">Reset</button>
    </form>
    <div>
        <button class="btn btn-primary" onclick="createTopic()">Create Topic</button>
    </div>
</div>

{#for entry in allTopics}
<div class="content-box">
    <div>
        <h5 style="cursor: pointer" onclick="window.open('/ui/posts?topic={entry.title}', '_self')"
            class="title-info">{entry.title}</h5>
        <span class="sub-info">{entry.description}</span><br>
        <span class="sub-info">
            {entry.parsedCreatedAtDate} |
            by <strong>{entry.owner}</strong> |
            {entry.numberOfPosts} posts |
        </span>
        <a href="/ui/posts?topic={entry.title}">goto</a>
    </div>
</div>
{/}
{/body}
{/include}
<script>

    window.onload = function () {
        let searchParam = new URL(window.location.href).searchParams.get("search");
        if (searchParam) {
            document.getElementById("search").value = searchParam;
        }
    };

    function logout() {
        document.cookie = "quarkus-credential=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        document.cookie = "quarkus-redirect-location=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        location.reload();
    }

    function login() {
        document.cookie = "quarkus-redirect-location=" + window.location;
        window.open("/ui/login", "_self")
    }

    function createTopic() {
        window.open('/ui/topics/new', '_self');
    }

    function resetSearch() {
        document.getElementById("search").value = "";
        window.location.search = "";
        window.location.href = "/ui/topics";
    }
</script>