{#include base}
    {#title}Users {/title}
    {#body}
        <div class="header">
            <div>
                <h1 class="mt-4">All Users</h1>
                <p><a href="/ui/">[Home]</a></p>
            </div>
        </div>
        <div class="login-buttons">
            Logged in as: {username}
            <button class="btn btn-secondary" onclick="logout()">Logout</button>
        </div>

        {#for entry in users}
            <div class="content-box">
            <div>
            <h5 style="cursor: pointer" class="title-info">{entry.name}</h5>
            <p style="color: red">!!! als DTO typ zurueckgeben mit Anzeige von number of votes , post, comments, registrierdatum, etc.</p>
            <p style="color: red">!!! dem Admin ein select einbauen zum loeschen(=deaktivieren) von usern !!!</p>
            <p style="color: red">!!! deaktivierte User ausgegraut anzeigen !!!</p>
            </div>
            </div>
            {/}
    {/body}
{/include}
<script>

    // TODO:

    function logout() {
        document.cookie = "quarkus-credential=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        document.cookie = "quarkus-redirect-location=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        location.reload();
    }
</script>