{#include base}
    {#title}Admin – Manage Posts{/title}
    {#body}
        <div class="header">
        <div>
            <h1 class="mt-4">Manage [Users]</h1>
            <a href="/ui/admin/topics">[Manage Topics]</a>
            <a href="/ui/admin/posts">[Manage Posts]</a>
            <a href="/ui/admin/comments">[Manage Comments]</a>
            <a href="/ui/admin/votes">[Manage Votes]</a>
            <a href="/ui/admin/users">[Manage Users]</a>
        </div>
        <div class="login-buttons">
            <p href="/ui/me">logged in as {adminname}</p>
            <button class="btn btn-secondary" onclick="logout()">Logout</button>
        </div>
        </div>
        <div class="mt-5">
        <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Displayname</th>
            <th scope="col">Username</th>
            <th scope="col">is Active</th>
            <th scope="col">view/delete</th>
        </tr>
        </thead>
        <tbody>
        {#for entry in entries}
            <tr>
            <th scope="row">{entry.id}</th>
            <td>{entry.name}</td>
            <td>{entry.username}</td>
            <td>{entry.isActive}</td>
            <td>
            <button class="btn btn-secondary" onclick="openInNewTab('{entry.id}')">View</button>
            <button class="btn btn-danger" onclick="deleteEntry('{entry.id}')">Delete</button>
            </td>
            <td></td>
            </tr>
            {/}
        </tbody>
        </table>
        </div>
    {/body}
{/include}
<script>
    function openInNewTab(topicTitle) {
        window.open('/ui/posts?topic=' + topicTitle, "_blank");
    }

    function logout() {
        document.cookie = "quarkus-credential=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        document.cookie = "quarkus-redirect-location=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        location.reload();
    }

    function deleteEntry(id) {
        let url = '/api/v1/users/' + id;
        fetch(url, {
            method: 'DELETE',
            mode: 'cors',
            cache: 'no-cache',
            credentials: 'same-origin',
            headers: {
                'Content-Type': 'application/json'
            },
            redirect: 'follow',
            referrerPolicy: 'no-referrer',
        })
            .then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    response.text().then(errorMessage => {
                        console.log(errorMessage);
                    });
                }
            })
            .catch(error => {
                console.error(error);
            });
    }
</script>