{#include base}
    {#title}Admin – Manage Posts{/title}
    {#body}
        <div class="header">
        <div>
            <h1 class="mt-4">Manage [POSTS]</h1>
            <a href="/ui/admin/topics">[Manage Topics]</a>
            <a href="/ui/admin/posts">[Manage Posts]</a>
            <a href="/ui/admin/comments">[Manage Comments]</a>
            <a href="/ui/admin/votes">[Manage Votes]</a>
            <a href="/ui/admin/users">[Manage Users]</a>
        </div>
        <div class="login-buttons">
            <p href="/ui/me">logged in as {adminname}</p>
            <button class="btn btn-secondary" onclick="logout()">Logout</button>
        </div>
        </div>
        <div></div>
    {/body}
{/include}
<script>
    function logout() {
        document.cookie = "quarkus-credential=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        document.cookie = "quarkus-redirect-location=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        location.reload();
    }
</script>