{#include base}
{#title}Votes {/title}
{#body}
<div class="header">
    <div>
        <h1 class="mt-4">Alle Votes</h1>
        <p><a href="/ui/">[Home]</a></p>
    </div>
    <div class="login-buttons">
        Logged in as: {username}
        <button class="btn btn-secondary" onclick="logout()">Logout</button>
    </div>
</div>

{#for entry in votes}
<div class="content-box">
    <div>
    {#if entry.votedEntityType == 'POST'}
        <h5 style="cursor: pointer" onclick="window.open('/ui/posts/{entry.votedEntityId}', '_self')" class="title-info">{entry.votedEntityId}</h5>
    {#else if entry.votedEntityType == 'COMMENT'}
        <h5 style="cursor: pointer" onclick="window.open('/ui/posts/comment/{entry.votedEntityId}#{entry.votedEntityId}', '_self')" class="title-info">{entry.votedEntityId}</h5>
        {/if}
        <p style="color: red">!!! unterscheiden zwischen vote Type (POST / COMMENT) und entsprechend verlinken</p>
        <p style="color: red">!!! dem Admin ein select einbauen zum loeschen(=deaktivieren) von usern !!!</p>
        <p style="color: red">!!! deaktivierte User ausgegraut anzeigen !!!</p>
    </div>
</div>
{/}
{/body}
{/include}
<script>

    function logout() {
        document.cookie = "quarkus-credential=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        document.cookie = "quarkus-redirect-location=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        location.reload();
    }
</script>