<!DOCTYPE html>
<html lang="de">
<head>
    <title>Themenforum</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h1 class="mt-4">Alle Beiträge</h1>
    <p><a href="/ui/public/topics">[Browse Topics]</a></p>

    <div style="display: flex">
        <p><a href="#">Pupular</a></p>
        <p style="margin-left: 4px; margin-right: 4px;"> | </p>
        <p><a href="#">New</a></p>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Votes</th>
            <th scope="col">Titel</th>
            <th scope="col">Autor</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        {#for entry in allPosts}
        <tr>
            <td>{entry.totalVotes}</td>
            <td>{entry.title}</td>
            <td>{entry.creator.name}</td>
            <td>{entry.parsedCreatedAtDate}</td>
            <td><a href="http://localhost:8080/posts/{entry.id}?includeComments=true">read</a></td>
        </tr>
        {/}
        </tbody>
    </table>
</div>
</body>
</html>