<!DOCTYPE html>
<html lang="en">
<head>
    <title>{post.title}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container mt-4">
    <p><a href="/ui/public/posts">[Browse Posts]</a></p>
    <div style="display: flex; align-items: center; margin-bottom: 20px">
        <div style="margin-right: 4px;">
            <a href="#" onclick="votePost('{post.id}','NONE')">X</a>
        </div>
        <div class="vote-container">

            <div class="vote"><a href="#" onclick="votePost('{post.id}','UP')">«</a></div>
            <div>{post.totalVotes}</div>
            <div class="vote"><a href="#" onclick="votePost('{post.id}','DOWN')">»</a></div>
        </div>
        <div>
            <h2 class="title-info">{post.title}</h2>
        </div>
    </div>
    <span class="sub-info">{post.parsedCreatedAtDate} |
            by <a href="#">{post.creator.name}</a> |
            <a href="/ui/public/topics/{post.topic.id}">{post.topic.title}</a> |
            {post.commentCount} comments</span>
    <div class="post-content" style="margin-top: 20px;">
        <p>{post.content}</p>
    </div>

    <div class="comment-form">
        <div>
            <label for="text" style="display: block; font-weight: bold">write a comment</label>
            <textarea style="display: block; width: 100%" id="{post.id}-text" name="text" required></textarea>
            <div style="margin-top: 12px;">
                <button class="btn btn-primary" id="submit-btn" onClick="submitComment('{post.id}')">post comment</button>
            </div>
        </div>
    </div>

    <div class="comments-wrapper">
        {#for comment in post.commentsFlat}
            <div class="content-box">
            <div style="margin-right: 4px;">
                <a href="#" onclick="voteComment('{comment.id}','NONE')">X</a>
            </div>
            <div class="vote-container">

                <div class="vote"><a href="#" onclick="voteComment('{comment.id}','UP')">«</a></div>
                <div>{comment.totalVotes}</div>
                <div class="vote"><a href="#" onclick="voteComment('{comment.id}','DOWN')">»</a></div>
            </div>
            <div style="width: 100%">
            <span class="sub-info">
            by <a href="#">{comment.user.name}</a> |
            {comment.parsedCreatedAtDate}</span>
            {#if comment.parentComment}
                <br><span>Reply to: {comment.parentComment.text} | by {comment.parentComment.user.name}</span>
            {/if}
            <p style="font-weight: bolder">{comment.text}</p>


            <div class="comment-form">
                <div>
                    <textarea style="display: block; width: 100%" id="{comment.id}-text" name="replytext" required placeholder="your reply..."></textarea>
                    <div style="margin-top: 12px;">
                        <button class="btn btn-secondary" id="submit-btn" onClick="submitReply('{comment.id}')">reply</button>
                    </div>
                </div>
            </div>
            </div>
            </div>
            {/}
    </div>
</div>

</body>

<script>
    function submitComment(postId) {

        let commentText = document.getElementById(postId + "-text").value;
        let url = '/ui/public/comments/' + postId;
        fetch(url, {
            method: 'POST',
            mode: 'cors',
            cache: 'no-cache',
            credentials: 'same-origin',
            headers: {
                'Content-Type': 'application/json'
            },
            redirect: 'follow',
            referrerPolicy: 'no-referrer',
            body: JSON.stringify(commentText),
        })
            .then(() => {
                location.reload();
            })
            .catch(error => {
                console.error(error);
            });
    }

    function submitReply(commentId) {

        let replyText = document.getElementById(commentId + "-text").value;
        let url = '/ui/public/replyTo/' + commentId;
        fetch(url, {
            method: 'POST',
            mode: 'cors',
            cache: 'no-cache',
            credentials: 'same-origin',
            headers: {
                'Content-Type': 'application/json'
            },
            redirect: 'follow',
            referrerPolicy: 'no-referrer',
            body: JSON.stringify(replyText),
        })
            .then(() => {
                location.reload();
            })
            .catch(error => {
                console.error(error);
            });
    }

    function votePost(postId, voteType) {
        let url = '/ui/public/posts/' + postId + '/vote';
        fetch(url, {
            method: 'POST',
            mode: 'cors',
            cache: 'no-cache',
            credentials: 'same-origin',
            headers: {
                'Content-Type': 'application/json'
            },
            redirect: 'follow',
            referrerPolicy: 'no-referrer',
            body: JSON.stringify(voteType),
        })
            .then(() => {
                location.reload();
            })
            .catch(error => {
                console.error(error);
            });
    }

    function voteComment(commentId, voteType) {
        let url = '/ui/public/comments/' + commentId + '/vote';
        fetch(url, {
            method: 'POST',
            mode: 'cors',
            cache: 'no-cache',
            credentials: 'same-origin',
            headers: {
                'Content-Type': 'application/json'
            },
            redirect: 'follow',
            referrerPolicy: 'no-referrer',
            body: JSON.stringify(voteType),
        })
            .then(() => {
                location.reload();
            })
            .catch(error => {
                console.error(error);
            });
    }

    function logout() {
        document.cookie = "quarkus-credential=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        document.cookie = "quarkus-redirect-location=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        location.reload();
    }

    function login() {
        document.cookie = "quarkus-redirect-location=" + window.location;
        window.open("/ui/public/login", "_self")
    }

</script>
</html>