<!DOCTYPE html>
<html lang="en">
<head>
    <title>{post.title}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container mt-4">
    <p><a href="/ui/public/posts">[Browse Posts]</a></p>
    <div style="display: flex; align-items: center; margin-bottom: 20px">
        <div class="vote-container"
             style="margin-right: 12px; display: flex; flex-direction: column; align-items: center">
            <div class="vote"><a href="">«</a></div>
            <div>{post.totalVotes}</div>
            <div class="vote"><a href="">»</a></div>
        </div>
        <div>
            <h2 class="title-info">{post.title}</h2>
        </div>
    </div>
    <span class="sub-info">{post.parsedCreatedAtDate} |
            by <a href="#">{post.creator.name}</a> |
            <a href="http://localhost:8080/ui/public/topics/{post.topic.id}">{post.topic.title}</a> |
            {post.commentCount} comments</span>
    <div class="post-content" style="margin-top: 20px;">
        <p>{post.content}</p>
    </div>

    <div class="comment-form">
        <form action="/ui/public/comments/{post.id}" method="post">
            <label for="text" style="display: block; font-weight: bold">write a comment</label>
            <textarea style="display: block; width: 100%" id="text" name="text" required></textarea>
            <div style="margin-top: 12px;">
                <button class="btn btn-primary" type="submit">post comment</button>
            </div>
        </form>
    </div>

    <div class="comments-wrapper">
        {#for comment in post.commentsFlat}
            <div class="content-box">
            <div class="vote-container"
                 style="margin-right: 12px; display: flex; flex-direction: column; align-items: center">
                <div class="vote"><a href="">«</a></div>
                <div>{comment.totalVotes}</div>
                <div class="vote"><a href="">»</a></div>
            </div>
            <div style="width: 100%">
            <span class="sub-info">
            by <a href="#">{comment.user.name}</a> |
            {comment.parsedCreatedAtDate}</span>
            {#if comment.parentComment}
                <br><span>Reply to: {comment.parentComment.text} | by {comment.parentComment.user.name}</span>
            {/if}
            <p style="font-weight: bolder">{comment.text}</p>

            <form action="/ui/public/replyTo/{comment.id}" method="post">
                <textarea style="display: block; width: 100%" id="reply-text" name="replytext" required placeholder="your reply..."></textarea>
                <div style="margin-top: 12px;">
                    <button class="btn btn-secondary" type="submit">reply</button>
                </div>
            </form>
            </div>
            </div>
            {/}
    </div>
</div>

</body>


</html>