<!DOCTYPE html>
<html lang="de">
<head>
    <title>Themenforum</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <div>
        <h1 class="mt-4">Alle Beiträge</h1>
        <p><a href="/ui/public/topics">[Browse Topics]</a></p>
        </div>
        <div>
                <button class="btn btn-primary">Login</button>
        </div>
    </div>
    <div class="sort-selector" style="display: flex">
        <p><a href="#">Pupular</a></p>
        <p style="margin-left: 4px; margin-right: 4px;"> | </p>
        <p><a href="#">New</a></p>
    </div>

    {#for entry in allPosts}
        <div class="content-box">
        <div class="vote-container"
             style="margin-right: 12px; display: flex; flex-direction: column; align-items: center">
            <div class="vote"><a href="/ui/public/posts/{entry.id}/upvotes">«</a></div>
            <div>{entry.totalVotes}</div>
            <div class="vote"><a href="">»</a></div>
        </div>
        <div>
        <h5 class="title-info">{entry.title}</h5>
        <span class="sub-info">{entry.parsedCreatedAtDate} |
            by <a href="#">{entry.creator.name}</a> |
            <a href="http://localhost:8080/ui/public/topics/{entry.topic.id}">{entry.topic.title}</a> |
            {entry.commentCount} comments |
            <a href="http://localhost:8080/ui/public/posts/{entry.id}">read</a>
        </span>
        </div>
        </div>
        {/}
</div>
</body>
</html>