{#include base}
    {#title}Topics {/title}
    {#body}
        <div class="header">
            <div>
                <h1 class="mt-4">Alle Topics</h1>
                <p><a href="/ui/posts">[Browse Posts]</a></p>
            </div>
            <div>
                {#if isLoggedIn}
                    Logged in as: {username}
                    <button class="btn btn-secondary" onclick="logout()">Logout</button>
                {#else}
                    <button class="btn btn-primary" onclick="login()">Login</button>
                    <button class="btn btn-light" onclick="window.open('/ui/register', '_blank')">Register</button>
                {/if}
            </div>
        </div>
        <div>
            <form style="display: flex; align-items: center; margin-bottom: 20px;">
                <input type="search" id="tsearch" name="tsearch" required placeholder="search topics...">
                <button class="btn btn-primary" style="margin-left: 12px;">Search</button>
            </form>
        </div>
        {#for entry in allTopics}
            <div class="content-box">
            <div>
            <h5 style="cursor: pointer" onclick="window.open('/ui/posts?topic={entry.title}', '_self')" class="title-info">{entry.title}</h5>
            <span class="sub-info">{entry.description}</span><br>
            <span class="sub-info">
            {entry.parsedCreatedAtDate} |
                by <strong>{entry.owner}</strong> |
            {entry.numberOfPosts} posts |
            </span>
            <a href="/ui/posts?topic={entry.title}">goto</a>
            </div>
            </div>
            {/}
    {/body}
{/include}
<script>
    function logout() {
        document.cookie = "quarkus-credential=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        document.cookie = "quarkus-redirect-location=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        location.reload();
    }

    function login() {
        document.cookie = "quarkus-redirect-location=" + window.location;
        window.open("/ui/login", "_self")
    }
</script>