h1, h5 {
    font-family: "BioRhyme", monospace;
}

body {
    font-family: "Inconsolata", monospace !important;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-info {
    margin: 0;
}

.content-box {
    border: 2px #bbbbbb90 solid;
    padding: 12px;
    margin-bottom: 20px;
    display: flex;
    align-items: center
}

.comments-wrapper {
    margin-top: 12px;
}

.vote{
    font-family: "BioRhyme", monospace;
    font-size: 18px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.sort-selector {
    font-size: large;
}

a {
    color: #6476bd !important;
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
}

span {
    color: #919191;
}

