{#include base}
    {#title}Home {/title}
    {#body}
        <div class="header">
        <div>
            <h1 class="mt-4">Error | 403</h1>
            <p class="mt-4">Du bist nicht autorisiert diese Seite aufzurufen</p>
            <a href="/ui/topics">[Browse Topics]</a>
            <a href="/ui/posts">[Browse Posts]</a>
        </div>
        <div class="login-buttons">
            <button class="btn btn-primary" onclick="login()">Login</button>
            <button class="btn btn-light" onclick="register()">Register</button>
        </div>
        </div>
        </div>
        <div></div>
    {/body}
{/include}
<script>
    function login() {
        document.cookie = "quarkus-redirect-location=" + window.location;
        window.open("/ui/login", "_self")
    }

    function register() {
        window.open('/ui/register', '_blank');
    }
</script>