{@de.hsos.swa.domain.entity.Post post}

{#include base}
{#title}{post.title}{/title}
{#body}
<div class="header">
    <div>
        <p><a href="/ui/posts">[Browse Posts]</a></p>
        <div style="display: flex; align-items: center; margin-bottom: 20px">
            {#if isLoggedIn}
            <div style="margin-right: 4px;">
                {#if post.loggedInUserVote(username)}
                <a href="#" onclick="deleteVote('{post.loggedInUserVote(username).id}')">X</a>
                {#else}
                <p style="margin: 0; color: darkgrey"></p>
                {/if}
            </div>
            <div class="vote-container">
                <div class="vote">
                    {#if post.loggedInUserCanUpvote(username)}
                    <a href="#" onclick="votePost('{post.id}','UP')">«</a>
                    {#else}
                    <p style="margin: 0; color: darkgrey">«</p>
                    {/if}
                </div>
                <div>{post.totalVotes}</div>
                <div class="vote">
                    {#if post.loggedInUserCanDownvote(username)}
                    <a href="#" onclick="votePost('{post.id}','DOWN')">»</a>
                    {#else}
                    <p style="margin: 0; color: darkgrey">»</p>
                    {/if}
                </div>
            </div>
            {/if}
            <div>
                <h2 class="title-info">{post.title}</h2>
            </div>
        </div>
    </div>
    <div>
        {#if isLoggedIn}
        Logged in as: {username}
        <button class="btn btn-secondary" onclick="logout()">Logout</button>
        {#else}
        <button class="btn btn-primary" onclick="login()">Login</button>
        <button class="btn btn-light" onclick="window.open('/ui/register', '_blank')">Register</button>
        {/if}
    </div>
</div>

<span class="sub-info">{post.parsedCreatedAtDate} |
    by <strong>{post.user.name}</strong> |
    <a href="/ui/posts?topic={post.topic.title}">{post.topic.title}</a> |
    {post.commentCount} comments |
    {#if ! isLoggedIn} | voting: {post.totalVotes}{/if}
    {#if username == post.user.name}
        <a style="cursor: pointer" class="text-danger" onclick="deletePost('{post.id}')">delete</a>
    {/if}</span>
<div class="post-content" style="margin-top: 20px;">
    <p>{post.content}</p>
</div>


{#if isLoggedIn}
<div class="comment-form">
    <div>
        <label for="text" style="display: block; font-weight: bold">write a comment</label>
        <textarea style="display: block; width: 100%" id="{post.id}-text" name="text" maxlength="250" minlength="1"
            required></textarea>
        <div style="margin-top: 12px;">
            <button class="btn btn-primary" id="submit-btn" onClick="submitComment('{post.id}')">post comment</button>
        </div>
    </div>
</div>
{/if}
<div class="comments-wrapper">
    <div class="sort-selector" style="display: flex">
        <p><a href="/ui/posts/{post.id}?sortBy=VOTES&orderBy=DESC">Popular</a></p>
        <p style="margin-left: 4px; margin-right: 4px;"> | </p>
        <p><a href="/ui/posts/{post.id}?sortBy=DATE&orderBy=DESC">New</a></p>
    </div>


    {#for comment in post.commentsFlatWithDepth}
    {#if comment.object.isActive}
    <div class="content-box" style="margin-left: {comment.depth}00px" id="{comment.object.id}">
        {#if isLoggedIn}
            <div style="margin-right: 4px;">
                {#if comment.loggedInUserVote(username)}
                    <a href="#" onclick="deleteVote('{comment.loggedInUserVote(username).id}')">X</a>
                {#else}
                    <p style="margin: 0; color: darkgrey"></p>
                {/if}
            </div>
            <div class="vote-container">
            <div class="vote">
                {#if comment.loggedInUserCanUpvote(username)}
                    <a href="#" onclick="voteComment('{comment.object.id}','UP')">«</a>
                {#else}
                    <p style="margin: 0; color: darkgrey">«</p>
                {/if}
            </div>
            <div>{comment.object.totalVotes}</div>
            <div class="vote">
            {#if comment.loggedInUserCanDownvote(username)}
                <a href="#" onclick="voteComment('{comment.object.id}','DOWN')">»</a>
            {#else}
                <p style="margin: 0; color: darkgrey">»</p>
            {/if}
            </div>
            </div>
        {/if}
        <div style="width: 100%">
            <span class="sub-info">
                by <strong>{comment.object.user.name}</strong> |
                {comment.object.parsedCreatedAtDate}
                {#if comment.object.parentComment} | <a href="#{comment.object.parentComment.id}">
                    goto parent</a>{/if}
                {#if isLoggedIn} | <a href="#{comment.object.id}" id="{comment.object.id}-toggle-btn"
                    onClick="toggleReply('{comment.object.id}')">
                    reply</a>{/if}
                {#if username == comment.object.user.name} | <a class="text-danger" href="#{comment.object.id}"
                    id="{comment.object.id}-delete-btn" onClick="deleteComment('{comment.object.id}')">
                    delete</a>{/if}

            </span>
            {!{#if comment.object.parentComment}!}
            {!<br><span>Reply to: <a>{comment.object.parentComment.text}</a> | by
                {comment.object.parentComment.user.name}</span>!}
            {!{/if}!}
            <div class="post-content" style="margin-top: 20px;">
                <p>{comment.object.text}</p>
            </div>
            {#if isLoggedIn}
            <div class="comment-form">
                <div id="{comment.object.id}-box" style="display: none">
                    <textarea style="display: block; width: 100%" id="{comment.object.id}-text" name="replytext"
                        maxlength="250" minlength="1" required placeholder="your reply..."></textarea>
                    <div style="margin-top: 12px;">
                        <button class="btn btn-secondary" id="submit-btn"
                            onClick="submitReply('{comment.object.id}')">post
                            reply</button>
                    </div>
                </div>
            </div>
            {/if}
        </div>
    </div>
    {#else}
    <div class="content-box" style="margin-left: {comment.depth}00px" id="{comment.object.id}">
        {!<div style="margin-right: 10px">{comment.object.totalVotes}</div>!}
        <div style="width: 100%">
            <div class="post-content" style="margin-top: 0;">
                <p style="color: gray; margin-bottom: 0">{comment.object.text}</p>
            </div>
        </div>
    </div>
    {/if}
    {/}
</div>
{/body}
{/include}

<script>
    window.onload = function() {
        var currentUrl = window.location.href;
        var identifier = currentUrl.split("/posts/comment/")[1];

        setTimeout(function() {
            var target = document.getElementById(identifier);
            if (!target) return;
            var targetPos = target.getBoundingClientRect().top + window.scrollY;
            window.scroll({
                top: targetPos,
                left: 0,
                behavior: "smooth"
            });

            setTimeout(function() {
                target.style.boxShadow = "0 0 10px #6476bd";
                target.style.borderColor = "#a6adc9"
                target.style.transition = "background-color 0.5s ease, box-shadow 0.5s ease";
            }, 250);
        }, 500);
    };

    function toggleReply(entityId) {
        document.getElementById(entityId + "-box").style.display = "block";
        document.getElementById(entityId + "-toggle-btn").style.display = "none";
        console.log(entityId);
    }

    function submitComment(postId) {
        let commentText = document.getElementById(postId + "-text");
        if (!commentText.checkValidity()) {
            return;
        }

        let data = {
            postId : postId,
            text: commentText.value};
        let url = '/api/v1/comments/';
        fetch(url, {
            method: 'POST',
            mode: 'cors',
            cache: 'no-cache',
            credentials: 'same-origin',
            headers: {
                'Content-Type': 'application/json'
            },
            redirect: 'follow',
            referrerPolicy: 'no-referrer',
            body: JSON.stringify(data),
        })
            .then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    response.text().then(errorMessage => {
                        // console.log(errorMessage);
                    });
                }
            })
            .catch(error => {
                console.error(error);
            });
    }

    function submitReply(commentId) {
        let replyText = document.getElementById(commentId + "-text");
        if (!replyText.checkValidity()) {
            return;
        }
        console.log(commentId)
        let data = {
            text: replyText.value
        };
        let url = '/api/v1/comments/' + commentId;
        fetch(url, {
            method: 'POST',
            mode: 'cors',
            cache: 'no-cache',
            credentials: 'same-origin',
            headers: {
                'Content-Type': 'application/json'
            },
            redirect: 'follow',
            referrerPolicy: 'no-referrer',
            body: JSON.stringify(data),
        })
            .then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    response.text().then(errorMessage => {
                        //console.log(errorMessage);
                    });
                }
            })
            .catch(error => {
                console.error(error);
            });
    }

    function votePost(entityId, voteType) {

        let url = '/api/v1/votes/';
        let data = {
            voteType: voteType,
            entityType: "POST",
            entityId: entityId
        };
        fetch(url, {
            method: 'POST',
            mode: 'cors',
            cache: 'no-cache',
            credentials: 'same-origin',
            headers: {
                'Content-Type': 'application/json'
            },
            redirect: 'follow',
            referrerPolicy: 'no-referrer',
            body: JSON.stringify(data),
        })
            .then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    response.text().then(errorMessage => {
                        //console.log(errorMessage);
                    });
                }
            })
            .catch(error => {
                console.error(error);
            });
    }

    function voteComment(entityId, voteType) {
        let url = '/api/v1/votes/';
        let data = {
            voteType: voteType,
            entityType: "COMMENT",
            entityId: entityId
        };
        fetch(url, {
            method: 'POST',
            mode: 'cors',
            cache: 'no-cache',
            credentials: 'same-origin',
            headers: {
                'Content-Type': 'application/json'
            },
            redirect: 'follow',
            referrerPolicy: 'no-referrer',
            body: JSON.stringify(data),
        })
            .then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    response.text().then(errorMessage => {
                        //console.log(errorMessage);
                    });
                }
            })
            .catch(error => {
                console.error(error);
            });
    }

    function logout() {
        document.cookie = "quarkus-credential=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        document.cookie = "quarkus-redirect-location=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        location.reload();
    }

    function login() {
        document.cookie = "quarkus-redirect-location=" + window.location;
        window.open("/ui/login", "_self")
    }

    function deleteComment(entityId) {
        let url = '/api/v1/comments/' + entityId;
        fetch(url, {
            method: 'DELETE',
            mode: 'cors',
            cache: 'no-cache',
            credentials: 'same-origin',
            headers: {
                'Content-Type': 'application/json'
            },
            redirect: 'follow',
            referrerPolicy: 'no-referrer',
        })
            .then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    response.text().then(errorMessage => {
                        //console.log(errorMessage);
                    });
                }
            })
            .catch(error => {
                console.error(error);
            });
    }

    function deletePost(postId) {
        let url = '/api/v1/posts/' + postId;
        fetch(url, {
            method: 'DELETE',
            mode: 'cors',
            cache: 'no-cache',
            credentials: 'same-origin',
            headers: {
                'Content-Type': 'application/json'
            },
            redirect: 'follow',
            referrerPolicy: 'no-referrer',
        })
            .then(response => {
                if (response.ok) {
                    if ('referrer' in document) {
                        window.location = document.referrer;
                    } else {
                        window.history.back();
                    }
                } else {
                    response.text().then(errorMessage => {
                        //console.log(errorMessage);
                    });
                }
            })
            .catch(error => {
                console.error(error);
            });
    }

    function deleteVote(voteId) {
        let url = '/api/v1/votes/' + voteId;
        fetch(url, {
            method: 'DELETE',
            mode: 'cors',
            cache: 'no-cache',
            credentials: 'same-origin',
            headers: {
                'Content-Type': 'application/json'
            },
            redirect: 'follow',
            referrerPolicy: 'no-referrer',
        })
            .then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    response.text().then(errorMessage => {
                        //console.log(errorMessage);
                    });
                }
            })
            .catch(error => {
                console.error(error);
            });
    }
</script>